.nav {
	height: 50px;
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
}

.title {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.subtitle {
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}

.circle-container {
    position: relative;
    width: clamp(250px, 50vw, 80vh); /* 최소 250px, 최대 50vw 또는 80vh */
    height: clamp(250px, 50vw, 80vh);
    margin: 50px auto;
}

.circle-item {
    position: absolute;
    width: clamp(30px, 6vw, 8vh); /* 최소 30px, 최대 6vw 또는 8vh */
    height: clamp(30px, 6vw, 8vh);
    background-color: lightblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(12px, 2vw, 3vh); /* 글자 크기도 조정 */
    font-weight: bold;
}


